@CHARSET "UTF-8";

/* FAQ *******************************************/

/* 버튼의 위치를 오른쪽 정렬함 */
#rightButton
{
	text-align: right;
}

#section3
{
	text-align: center;
}






/* FAQInputForm *******************************************/

/* 버튼의 위치를 오른쪽 정렬함 */
#rightButton
{
	text-align: right;
}

/******************************************* FAQInputForm */